
#tree_canvas {
    fill: beige;
    margin: 0;
    width: 100%;
}
.node_text {

    fill: black;
    font-size: 10px;
    dominant-baseline: middle;
    text-anchor: middle;
}
.edge_text {

    fill: black;
    font-size: 10px;
}
.scroll_div{
    overflow: auto;
}

/* I couldn't figure out how to import the colors from 
    NodeColorHelper.js */
.low_node {
    rx: 5px;
    fill: #00a43380;
    stroke: #000000;
    stroke-width: 1px;
}
.guarded_node {
    rx: 5px;
    fill: #008ff580;
    stroke: #000000;
    stroke-width: 1px;
}
.elevated_node {
    rx: 5px;
    fill: #ffee0080;
    stroke: #000000;
    stroke-width: 1px;
}
.high_node {
    rx: 5px;
    fill: #ff9c0080;
    stroke: #000000;
    stroke-width: 1px;
}
.severe_node {
    rx: 5px;
    fill: #f3000d80;
    stroke: #000000;
    stroke-width: 1px;
}