#button_div{
    margin-bottom: 10px;
    background-color: white;
    overflow: none;
}
#tree_canvas {
    background: beige;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.node_text {

    fill: black;
    font-size: 10px;
    dominant-baseline: middle;
    text-anchor: middle;
}
.edge_text {

    fill: black;
    font-size: 10px;
}
.scroll_div{
    overflow: auto;
}
.low_node {
    rx: 5px;
    fill: #7fd199;
    stroke: #000000;
    stroke-width: 1px;
}
.guarded_node {
    rx: 5px;
    fill: #7fc7fa;
    stroke: #000000;
    stroke-width: 1px;
}
.elevated_node {
    rx: 5px;
    fill: #fff67f;
    stroke: #000000;
    stroke-width: 1px;
}
.high_node {
    rx: 5px;
    fill: #ffcd7f;
    stroke: #000000;
    stroke-width: 1px;
}
.severe_node {
    rx: 5px;
    fill: #f97f86;
    stroke: #000000;
    stroke-width: 1px;
}