
#tree_canvas {
    fill: beige;
    margin: 0;
    width: 100%;
}
.node_text {

    fill: black;
    font-size: 10px;
    dominant-baseline: middle;
    text-anchor: middle;
}
.edge_text {

    fill: black;
    font-size: 10px;
}
.scroll_div{
    overflow: auto;
}

/* I couldn't figure out how to import the colors from 
    NodeColorHelper.js */
.low_node {
    fill: white;
    rx: 5px;
    fill: #00a43380;
}
.guarded_node {
    fill: white;
    rx: 5px;
    fill: #008ff580;
}
.elevated_node {
    fill: white;
    rx: 5px;
    fill: #ffee0080;
}
.high_node {
    fill: white;
    rx: 5px;
    fill: #ff9c0080;
}
.severe_node {
    fill: white;
    rx: 5px;
    fill: #f3000d80;
}

/*** unused below ***/

.unselectableText {
    user-select: none;
}

#canvas {
    /*background-color: beige;*/

    /* border-top: black solid 3px; 
    border-bottom: black solid 3px; */
    flex: 1;
    height: 100%;
}



#reset_tree_buttons_div {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset_buttons {
    background-color: lightgray;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.reset_buttons:hover {
    background-color: lightgrey;
}

#canvas_container {
    display: flex;
    /* flex-direction: column; */
    height: 70vh;
    width: 100%;
    margin: 0;
    padding: 0;
}